<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <!--JQuery-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="{% static 'node/css/bootstrap.min.css' %}">

    <!-- Optional theme -->
    <link rel="stylesheet" href="{% static 'node/css/bootstrap-theme.min.css' %}">

    <!-- Latest compiled and minified JavaScript -->
    <link rel="stylesheet" href="{% static 'node/css/index.css' %}">
</head>
<body>
    <h3>Total sended messages</h3>
    <h3>{{ statistic.total_send }}</h3>

    <h3>Total info messages</h3>
    <h3>{{ statistic.total_data_received }}</h3>

    <h3>Total service received messages</h3>
    <h3>{{ statistic.total_service_received }}</h3>

    <h3>Average Time (ms)</h3>
    <h3>{{ statistic.avrg_delivery_time }}</h3>

    <h3>All Data Size (bytes)</h3>
    <h3>{{ statistic.all_data_size }}</h3>

    <h3>All Service Data Size (bytes)</h3>
    <h3>{{ statistic.all_service_size }}</h3>








<!--<table class="table">-->
    <!--<tr>-->
        <!--<th>Type</th>-->
        <!--<th>From Node</th>-->
        <!--<th>To Node</th>-->
        <!--<th>Time</th>-->
    <!--</tr>-->
    <!--{% for item in statistic.rows %}-->
        <!--<tr>-->
            <!--<td>{{ item.row_type }}</td>-->
            <!--<td>{{ item.from_node }}</td>-->
            <!--<td>{{ item.to_node }}</td>-->
            <!--<td>{{ item.time }}</td>-->
        <!--</tr>-->
    <!--{% endfor %}-->
<!--</table>-->
</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{% static 'node/js/index.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jcanvas/16.7.3/jcanvas.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</html>