<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="utf-8">
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge">-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>
    <!--JQuery-->

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <link rel="stylesheet" href="{% static 'node/css/index.css' %}">
</head>
<body onload="Generate({{network}})">
<div>
    <!--NODES-->
    <div>
        <button type="button" class="btn btn-success" onclick="add_node()">Add Node</button>
        <!-- Button trigger modal -->
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#NodeModal">
          Remove Node
        </button>

        <!-- Modal -->
        <div class="modal fade" id="NodeModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="NodeModalLabel">Remove node</h4>
              </div>
              <div class="modal-body">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon1">id</span>
                  <input id="remove_node_id" type="text" class="form-control" placeholder="id" aria-describedby="basic-addon1">
                </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" onclick="remove_node()">Remove</button>
              </div>
            </div>
          </div>
        </div>
    </div>
    <!--CHANNELS-->
    <div>
        <!-- Button ADD CHANNEL -->
        <button type="button" class="btn btn-success" data-toggle="modal" data-target="#add_channel_modal">
          Add Channel
        </button>

        <!-- Modal -->
        <div class="modal fade" id="add_channel_modal" tabindex="-1" role="dialog" aria-labelledby="Add_channel_label">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="Add_channel_label">Add channel</h4>
              </div>
              <div class="modal-body">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon4">begin_node</span>
                  <input id="add_start_node_id" type="text" class="form-control" placeholder="id" aria-describedby="basic-addon1">
                </div>
              <div class="input-group">
                  <span class="input-group-addon" id="basic-addon5">end_node</span>
                  <input id="add_end_node_id" type="text" class="form-control" placeholder="id" aria-describedby="basic-addon1">
              </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-success" onclick="add_channel()">Add</button>
              </div>
            </div>
          </div>
        </div>

        <!-- Button Remove CHANNEL -->
        <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal">
          Remove Channel
        </button>

        <!-- Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Remove channel</h4>
              </div>
              <div class="modal-body">
                <div class="input-group">
                  <span class="input-group-addon" id="basic-addon2">begin_node</span>
                  <input id="remove_start_node_id" type="text" class="form-control" placeholder="id" aria-describedby="basic-addon1">
                </div>
              <div class="input-group">
                  <span class="input-group-addon" id="basic-addon3">end_node</span>
                  <input id="remove_end_node_id" type="text" class="form-control" placeholder="id" aria-describedby="basic-addon1">
              </div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-danger" onclick="remove_channel()">Remove</button>
              </div>
            </div>
          </div>
        </div>
    </div>
</div>
<div id="modal_form">
    <span id="modal_close">X</span>
    <label>Weight</label>
    <p id="weight"></p>
    <label>Error Prob</label>
    <p id="error_prob"></p>
    <label>Channel Type</label>
    <p id="type"></p>
</div>
<div id="overlay"></div><!-- Пoдлoжкa -->
<canvas id="MainCanvas" width="2000" height="1000"></canvas>
</body>


<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="{% static 'node/js/index.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jcanvas/16.7.3/jcanvas.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</html>